$main-borderColor: rgb(224, 219, 219);
$post-textColor: rgba(136, 145, 150, 0.658);
$post-textFont: 'Noto Sans JP', sans-serif;

.App {
	height: 100%;
	width: 100vw;
	padding: 0;
}

.mainPage {
	height: 100%;
	display: flex;
	padding: 0;
}
@import './sidebar.scss';
@import './feed.scss';
@import './trend.scss';
