$main-borderColor: rgba(187, 214, 240, 0.301);
$main-blueColor: #00b4d8;
$post-textColor: rgba(136, 145, 150, 0.658);
$post-textFont: 'Noto Sans JP', sans-serif;

.App {
	height: 100%;
	width: 100vw;
	padding: 0;
}

.mainPage {
	height: 100%;
	display: flex;
	padding: 0;
}
::-webkit-scrollbar {
	display: none;
}
@import './singup.scss';
@import './sidebar.scss';
@import './feed.scss';
@import './trend.scss';
@import './profile.scss';
@import './modal.scss';
@import './tweet.scss';
@import './comments.scss';
@import './bookmarks.scss';
@import './lists.scss';
@import './edit.scss';
