.App {
	height: 100%;
	width: 100vw;
	padding: 0;
}

.mainPage {
	height: 100%;
	display: flex;
	padding: 0;
}
::-webkit-scrollbar {
	display: none;
}
@import './globals.scss';
@import './singup.scss';
@import './sidebar.scss';
@import './feed.scss';
@import './trend.scss';
@import './profile.scss';
@import './modal.scss';
@import './tweet.scss';
@import './comments.scss';
@import './bookmarks.scss';
@import './lists.scss';
@import './edit.scss';
@import './messages.scss';
