.bookmarks {
	display: flex;
	height: 100vh;
}
.bookmarks__posts {
	flex: 0.5;
	border-right: 2px solid $main-borderColor;
	border-left: 2px solid $main-borderColor;
	h1 {
		padding: 8px;
		padding-left: 15px;
		border-bottom: 1px solid $main-borderColor;
	}
}
