.bookmarks {
	display: flex;
	height: 100vh;
}
.bookmarks__posts {
	flex: 0.5;
	border-right: 2px solid $main-borderColor;
	border-left: 2px solid $main-borderColor;
	.bookmarks__title {
		line-height: 59px;
		padding: 0 20px;
		color: post-textColor;
		border-bottom: 1px solid $main-borderColor;
	}
}
