.feed {
	flex: 0.5;
	border-right: 2px solid $main-borderColor;
	border-left: 2px solid $main-borderColor;
	min-height: 100vh;
}
.feedHeader {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 10;
}
.feedHeader__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;
	border-bottom: 1px solid $main-borderColor;
	font-size: 20px;
	color: black;
	font-weight: 600;
}
.feedHeader__form {
	display: flex;
	height: 130px;
	border-bottom: 10px solid $main-borderColor;

	// div {
	// 	border: 1px solid red;
	// }
	.avatarContainer {
		padding: 10px;
	}
	.formContainer {
		flex-grow: 1;
		input {
			border: none;
			height: 50%;
			width: 100%;
			padding-left: 5px;
			transition: all 300ms ease-in-out;
			&:focus {
				outline: none;
				border-bottom: 1px solid $main-borderColor;
			}
		}
		div {
			height: 50%;
			display: flex;
			align-items: center;
		}
	}
	.tweetContainer {
		display: flex;
		align-items: flex-end;
		justify-content: center;
	}
}

.singlePost {
	border-bottom: 1px solid $main-borderColor;
	display: flex;
	transition: all 250ms ease-in-out;
	&:hover {
		background-color: rgba(224, 224, 224, 0.3);
	}
}

.singlePost__avatarContainer {
	padding: 10px;
}
.singlePost__content {
	flex: 1;
	padding: 10px 0;
	.singlePost__userInfo {
		display: flex;
		align-items: center;
		h4 {
			margin: 0 5px;
		}
	}
	.singlePost__message {
		margin: 8px 0;
		font-family: $post-textFont;
		font-size: 12px;
		padding-left: 5px;
		color: rgba(26, 26, 26, 0.795);
	}
	.singlePost__icons {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 80%;
		color: $post-textColor;
		font-family: $post-textFont;

		div {
			// border: 2px solid purple;
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}
}

.textColor {
	font-family: $post-textFont;
	font-size: 14px;
	color: $post-textColor;
}

.loadingPosts {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 78%;
	h2 {
		font-family: $post-textFont;
		color: $post-textColor;
		margin-bottom: 30px;
	}
}
