@keyframes topIn {
	from {
		opacity: 0;
		transform: translateY(-30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slideLeft {
	from {
		opacity: 0;
		transform: translateX(30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes slideRight {
	from {
		opacity: 0;
		transform: translateX(-30px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.lists {
	display: flex;
	height: 100vh;
}
.lists__container {
	flex: 1;
	border-right: 1px solid $main-borderColor;
	border-left: 1px solid $main-borderColor;
	.lists__links {
		width: 100%;
		display: flex;
		align-items: center;
		border-bottom: 1px solid $main-borderColor;
		padding: 0;
		h3 {
			display: inline;
			font-size: 1.4vw;
			margin: 0;
			padding: 0 20px;
			color: post-textColor;
		}
		button {
			visibility: hidden;
		}
		svg {
			width: 2.5vw;
			height: 2.5vw;
		}
	}
}

.listActive {
	color: $main-blueColor;
}

.listItem {
	opacity: 0;
	// height: 75px;
	padding: 2vh 0;
	min-height: 80px;
	max-height: 150px;
	display: flex;
	align-items: center;
	border-bottom: 1px solid $main-borderColor;
	transition: all 200ms ease-in;
	.MuiAvatar-root {
		width: 2.5vw;
		height: 2.5vw;
		max-width: 50px;
		max-height: 50px;
	}

	&:hover {
		background-color: rgba(230, 230, 230, 0.295);
	}
	.listItem__userInfo {
		flex: 1;
		h4,
		a,
		p {
			font-size: 1vw;
		}
	}
	.listItem__name {
		display: flex;
		align-items: center;
		.link {
			text-decoration: none;
			color: $post-textColor;
			transition: all 100ms ease-in-out;
			margin: 0 7px;
			&:hover {
				color: $main-blueColor;
				text-decoration: underline;
			}
		}
	}
	.listItem__buttonContainer {
		button {
			height: 3.5vh;
			min-height: 30px;
			width: 8vw;
			min-width: 100px;
			border-radius: 12px;
			border: none;
			margin: 0 10px;
			font-weight: bold;
			font-size: 0.9vw;
			transition: all 150ms ease-in-out;
			color: white;
			&:focus {
				outline: none;
			}
			&:hover {
				background-color: lightblue;
			}
		}
		.notFollowing {
			color: $main-blueColor;
			background-color: white;
			border: 1px solid $main-blueColor;
		}
		.following {
			background-color: $main-blueColor;
			color: white;
		}
	}
}
.list__empty {
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
	h2 {
		color: $post-textColor;
	}
}
.slidein {
	animation: topIn 400ms ease-in-out forwards;
}
.slideRight {
	animation: slideRight 400ms ease-in-out forwards;
}
.slideLeft {
	animation: slideLeft 400ms ease-in-out forwards;
}

@media only screen and (max-width: 1100px) {
	.lists__links {
		h3 {
			font-size: 18px !important;
		}
		svg {
			width: 25px !important;
			height: 25px !important;
		}
	}
	.listItem {
		.MuiAvatar-root {
			width: 40px;
			height: 40px;
		}
		.listItem__userInfo {
			flex: 1;
			h4,
			a,
			p {
				font-size: 14px;
			}
		}
	}

	.listItem__buttonContainer {
		button {
			font-size: 12px !important;
		}
	}
}
