.messages {
	display: flex;
	height: 100vh;
}
.messages__container {
	flex: 0.75;
	display: flex;
	.messages__title {
		line-height: 59px;
		padding: 0 20px;
		color: post-textColor;
		border-bottom: 1px solid $main-borderColor;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	.messages__list {
		border-left: 1px solid $main-borderColor;
		border-right: 1px solid $main-borderColor;
		width: 35%;
	}
	.messages__conversations {
		// border: 1px solid green;
		width: 65%;
	}
	.messages__empty {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		p {
			font-family: $post-textFont;
			color: $post-textColor;
		}
	}
}
.messageContainer {
	border-bottom: 1px solid $main-borderColor;
	height: 100px;
	display: flex;

	p {
		color: rgba(129, 148, 173, 0.651);
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin: 10px 0;
	}
	.messageContainer__content {
		flex: 1;
		overflow: hidden;
	}
	.bold {
		font-weight: bold;
		color: black;
	}
	&:hover {
		background-color: rgba(230, 230, 230, 0.295);
	}
}

.conversation {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.conversation__messages {
		display: flex;
		flex-direction: column;
		.conversation__title {
			border-bottom: 1px solid $main-borderColor;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 59px;
		}
		.conversation__otherUser {
			p {
				font-family: $post-textFont;
				color: rgba(129, 148, 173, 0.651);
			}
		}
		.message {
			padding: 8px 15px;
			margin: 8px 5px;
			font-size: 16px;
			border-radius: 20px;
			display: inline-block;
			background: #eee;
			align-self: flex-start;
		}
		.userMessage {
			background: linear-gradient(to bottom, $main-blueColor 0%, #0085d1 100%);
			color: white;
			align-self: flex-end;
		}
	}
	form {
		height: 100px;
		display: flex;
		align-items: center;
		border-top: 1px solid $main-borderColor;
		background-color: rgb(253, 253, 253);
		input {
			flex: 1;
			height: 50px;
			border-radius: 15px;
			border: none;
			background-color: $main-borderColor;
			padding-left: 20px;
			margin: 0 20px;
			font-family: $post-textFont;
			&:focus {
				outline: none;
			}
		}
		.sendIcon {
			color: $main-blueColor;
			margin-right: 20px;
		}
	}
}
