.tweetModal__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $main-borderColor;
	color: $main-blueColor;
}
.tweetLoader__container {
	height: 150px;
}

.tweetModal__body {
	height: 150px;
	display: flex;
	flex-direction: column;
	form {
		flex: 1;
		display: flex;
		flex-direction: column;
	}
	input {
		outline: none;
		border: none;
		flex: 1;
	}
	.tweetModal__bottomContainer {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.tweetLoader {
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.deleteModal__header {
	text-align: center;
}
.deleteModal__body {
	height: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
}
