.profilePage {
	display: flex;
	min-height: 100vh;
	opacity: 0;
	animation: fadeIn 400ms 200ms ease-in-out forwards;
}
.profile {
	flex: 0.4;
	height: 100%;
	border-right: 1px solid $main-borderColor;
	border-left: 1px solid $main-borderColor;
}
.profile__info {
	height: 450px;
}

.profile__img {
	height: 40%;
	overflow: hidden;
	img {
		object-fit: fill;
		width: 100%;
	}
}
.profile__bottom {
	height: 60%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}
.profile__user {
	margin: 0 15px;
	position: relative;
	display: flex;
	justify-content: flex-end;
}
.profile__content {
	margin: 0 15px;
	margin-bottom: 15px;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.profile__links {
	display: flex;
	div {
		margin-right: 30px;
		display: flex;
		align-items: center;
		p {
			margin: 0 5px;
		}
	}
}
.gray {
	color: rgb(115, 135, 153);
}
.flex {
	display: flex;
	align-items: center;
}
