$sidebar-leftPadding: 60px;

.sidebar {
	flex: 0.25;
	.sidebarContainer{
		position: sticky;
		top: 0;
	}

	.sidebar__list {
		display: flex;
		flex-direction: column;
		padding-left: $sidebar-leftPadding;
	}
	.sidebar__tweetButton {
		padding-left: $sidebar-leftPadding;
	}
	.sidebar__logo {
		padding-left: $sidebar-leftPadding;
		color: #00b4d8;
		font-weight: 600;
		border-bottom: 1px solid $main-borderColor;
	}
}
