$sidebar-leftPadding: 17%;
$sidebar-minmizedPadding: 0px;

.sidebar {
	width: 20%;
	transition: all 200ms ease-in;
	.sidebarContainer {
		position: sticky;
		top: 0;
	}

	.sidebar__list {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-left: $sidebar-leftPadding;
		a {
			color: initial;
			text-decoration: none;
		}
		a.active {
			color: $main-blueColor;
		}
		a:hover {
			color: $main-blueColor;
		}
	}

	.sidebar__tweetButton,
	.sidebar__logoutButton {
		padding-left: $sidebar-leftPadding;
		button {
			font-size: 0.8vw;
			font-weight: bold;
		}
	}

	.sidebar__logo {
		display: flex;
		justify-content: center;
		color: #00b4d8;
		font-weight: 600;
		border-bottom: 1px solid $main-borderColor;
		div {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 1.1vw;
		}
	}
}
.listButton {
	font-family: 'Raleway', sans-serif;
	background-color: white;
	margin: 1.3vh 0;
	width: 75%;
	border-radius: 28px;
	transition: all 250ms ease-in-out;
	padding: 10px 0;
	&:hover {
		color: #00b4d8;
		box-shadow: none;
	}
	a {
		display: flex;
		align-items: center;
		svg {
			width: 2vw;
			height: 2vw;
		}
		p {
			font-size: 1.3vw;
			padding-left: 10px;
		}
	}
}

@media only screen and (max-width: 1100px) {
	.sidebar {
		flex: none;
		width: 100px;
		.sidebar__logo {
			display: flex;
			justify-content: center;
		}
		.sidebar__list {
			padding-left: $sidebar-minmizedPadding;
		}

		.sidebar__tweetButton,
		.sidebar__logoutButton {
			padding-left: $sidebar-minmizedPadding;
			display: flex;
			justify-content: center;
		}

		.sidebar__logo {
			padding-left: $sidebar-minmizedPadding;
		}
	}
	.listButton {
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: hidden;
		svg {
			width: 30px !important;
			height: 30px !important;
		}
		p {
			display: none;
		}
	}
	.activeMenu {
		width: 250px;
		.sidebar__list {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		.listButton {
			justify-content: flex-start;
			padding-left: 40px;
			p {
				display: initial;
				font-size: 16px;
			}
		}
	}
}
