$sidebar-leftPadding: 60px;

.sidebar {
	flex: 0.25;
	.sidebarContainer {
		position: sticky;
		top: 0;
	}

	.sidebar__list {
		display: flex;
		flex-direction: column;
		padding-left: $sidebar-leftPadding;
		a {
			color: initial;
			text-decoration: none;
		}
		a.active {
			color: $main-blueColor;
		}
		a:hover {
			color: $main-blueColor;
		}
	}
	.sidebar__tweetButton {
		padding-left: $sidebar-leftPadding;
	}
	.sidebar__logo {
		padding-left: $sidebar-leftPadding;
		color: #00b4d8;
		font-weight: 600;
		border-bottom: 1px solid $main-borderColor;
	}
}
.listButton {
	font-family: 'Raleway', sans-serif;
	background-color: white;
	margin: 10px 0;
	width: 75%;
	border-radius: 28px;
	transition: all 250ms ease-in-out;
	justify-content: flex-start;
	padding: 10px 0;
	&:hover {
		color: #00b4d8;
		background-color: rgba(243, 241, 241, 0.836);
		box-shadow: none;
	}
	a {
		display: flex;
		align-items: center;
	}
}
