.signup {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.error {
	color: rgb(248, 101, 101);
	font-family: $post-textFont;
}
.signup__left {
	flex: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(#00b4d8b4, #00b4d8b4),
		url('../images/twitterLogo.png');
	background-repeat: no-repeat;
	background-position: 10% 20%;

	.signup__leftContainer {
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		color: white;
	}
	.signup__desc {
		display: flex;
		align-items: center;
		h3 {
			margin: 0 30px;
			font-size: $signup-header-medium;
		}
	}
}

.signup__right {
	flex: 0.5;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signup__rightContainer {
	width: 50%;
}
.signup__rightHeader {
	h3 {
		font-size: $signup-header-medium;
	}
	h5 {
		margin: 15px 0;
		font-family: $post-textFont;
		font-size: $signup-text-medium;
	}
}
.signup__rightForm {
	form {
		display: flex;
		flex-direction: column;
		.formBottom {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 10px 0;
			font-family: $post-textFont;
			font-size: 1vw ;
			button{
				font-size: .9vw;
			}

		}
		a {
			color: #00b4d8;
		}
	}
}

.createAccount,
.login {
	background-color: #00b4d888;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.createAccount__container {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 15px;
	padding: 30px;
	min-height: 60%;
	width: 50%;
	h5 {
		font-family: $post-textFont;
		font-weight: 600;
		color: rgba(51, 51, 51, 0.589);
	}
	.createAccount__header {
		height: 15%;
	}
	form {
		height: 85%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		h2 {
			font-family: $post-textFont;
		}
		.formDiv {
			width: 100%;
		}
	}
}

.login__container {
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border-radius: 15px;
	padding: 30px;
	height: 45%;
	width: 50%;
	form {
		height: 85%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
	}
}

@media only screen and (max-width: 960px) {
	.signup {
		grid-template-columns: 1fr;
	}
	.signup__left {
		display: none;
	}
	.signup__rightHeader {
		h3 {
			font-size: $signup-header-small;
		}
		h5 {
			font-size: $signup-text-small;
		}
	}
	.signup__rightForm {
			.formBottom {
				font-size: 2.1vw !important;
			}
			button{
				font-size: 1.8vw !important;
			}
	}
}
