.trend {
	width: 30%;
	max-width: 400px;
	.trendContainer {
		position: sticky;
		top: 10px;
	}
	.trend__searchbar {
		margin: 10px 0;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.trend__sections {
		width: 90%;
		margin: 0 auto;
		background-color: $main-borderColor;
		border-radius: 15px;
	}
}

.trend__title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid $main-borderColor;
	padding: 10px;
}
.singleTrend {
	border-bottom: 2px solid $main-borderColor;
	padding: 10px;
	transition: all 250ms ease-in-out;
	&:hover {
		background-color: $main-borderColor;
	}
}

.trend__showMore {
	padding: 10px;
	color: #00b4d8;
	font-family: $post-textFont;
	font-size: 16px;
}

.trendStyle {
	color: rgba(124, 141, 167, 0.877);
	font-size: 13px;
	font-family: $post-textFont;
	margin: 3px 0;
}

.popover {
	width: 300px;
	.popover__header {
		border-bottom: 1px solid $main-borderColor;
		padding-left: 10px;
		height: 35px;
		display: flex;
		align-items: center;
		font-family: $post-textFont;
		font-weight: bold;
	}
	.search__empty {
		font-family: $post-textFont;
		height: 50px;
		display: flex;
		align-items: center;
		padding-left: 10px;
	}
	.search__link {
		display: flex;
		align-items: center;
		transition: all 200ms ease-in;
		text-decoration: none;
		p {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			color: $post-textColor;
		}
		span {
			font-weight: bold;
			color: black;
		}
		&:hover {
			background-color: $main-borderColor;
		}
	}
}

@media only screen and (max-width: 900px) {
	.trend {
		display: none;
	}
}
